@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: #111;
  /* background-image: url("/assets/photos/beanstalk-dark.png"); */
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Red Hat Text', sans-serif; */
  /* font-family: 'Overpass', sans-serif; */
  font-size: 19px;
  font-weight: 300;
  line-height: 1.45;
  color: #DEDEDE;
  word-wrap: break-word; /* for long words & urls */
  /* margin-top: 0;
  margin-bottom: 0; */
}

::selection {
  background: #DEA74F;
  color: #DEDEDE;
}

header {
  padding: 40px 40px 20px 40px;
  overflow: hidden;
}

header h1 {
  float: left;
  margin: 0;
  line-height: 0;
}

header h1 a {
  line-height: 0;
  margin: 0;
  padding: 0;
}

header h1 a:hover {
  border-bottom: none;
}

header nav {
  float: right;
  margin: 0;
  padding: 0;
  line-height: 1;
}

header nav a {
  text-decoration: none;
  font-weight: 700;
  margin-left: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5px;
  color: #777;
  line-height: 0;
}

header nav a.selected {
  color: #DEDEDE;
}

header nav a:hover {
  color: #DEDEDE;
  border-bottom: none;
}

.summary {
  overflow: hidden;
  padding: 0 40px;
  margin: 30px 0 200px 0;
}

.summary div {
  float:left;
  width: 50%;
}


/* Small Width */
.small {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  margin-bottom: 40px;
}

/* Default Width */
.content {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}

/* Medium Width */
.medium {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-bottom: 40px;
}

h1.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 64px;
  color: #FFFFFF;
  margin: 40px 0 40px;
  text-align: center;
}

h2 {
  font-family: 'IBM Plex Sans', sans serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #fff;
  text-align: center;
}

h2.motto {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 108px;
  line-height: 1;
  margin-top: 90px;
  margin-bottom: 60px;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.3;
  color: #FFFFFF;
}

h3 a {
  font-weight: 400;
}

h3.description {
  font-size: 36px;
  text-align: left;
  margin: 0;
}

h3.lede {
  font-size: 46px;
  text-align: center;
  margin: 40px 0;
  line-height: 1.2;
}

h4 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

blockquote.pullquote {
  font-family: 'IBM Plex Sans', serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  font-style: italic;
  /* color: #FFFFFF; */
  border-left: 5px solid #DEA74F;
  margin-left: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.inline {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
}

p.description {
  font-size: 22px;
  line-height: 1.5;
}

p.caption {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}

a, li a {
  color: #DEA74F;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  border-bottom: 2px solid;
}

li {
  font-size: 19px;
  line-height: 1.45;
  color: #DEDEDE;
}

li a:hover {
  color: #DEA74F;
}

ol.beliefs {
  margin-top: 25px;
  margin-bottom: 25px;
}

.beliefs li {
  margin-top: 40px;
  margin-bottom: 25px;
}

ol {
  font-feature-settings: 'ss01' 1, 'zero' 1;
}

.contact {
  margin-top: 40px;
}

ul li {
  list-style-type: circle;
}

.contact li {
  margin-bottom: 15px;
}

.standard li {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

thead {
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  line-height: 1.4;
  padding: 10px;
}

tr {
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  padding: 10;
}

th, td {
  box-sizing: border-box;
  border: 1px solid #dedede;
  padding: 15px;
}

td {
  font-size: 18px;
  line-height: 1.4;
}


hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #333;
}

p.footnote {
  font-size: 14px;
  margin-bottom: 50px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  color: #DDDDDD;
  width: 640px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.footnote_number {
  color: #DEA74F;
}

img {
  width: 100%;
}

img.logo {
  width: auto;
}

/*  Media Queries ------------- */

@media (min-width: 1600px) {

  body {
    max-width: 1440px;
  }
}

@media (min-width: 1440px) {

  body {
    max-width: 1440px;
  }
}

@media (max-width: 1200px) {

  .motto h2 {
    font-size: 80px;
  }
}


@media (max-width: 1023px) {

  .summary div {
    float: none;
    width: 100%;
  }

}


@media (max-width: 640px){

  body {
    width: 90%;
  }

  header {
    padding: 20px 0;
  }

  header h1,
  header nav {
    float: none;
  }

  header nav {
    margin-top: 10px;
  }

  header nav a {
    margin-left: 0;
    font-size: 14px;
    margin-right: 10px;
    color: #777;
    line-height: 2;
  }

  header nav a.last_nav {
    margin-right: 0px;
  }

  section.summary {
    padding: 0;
    margin-bottom: 100px;
    margin-top: 20;
  }

  .small, .content, .medium {
    width: auto;
  }

  h1.title {
    font-size: 48px;
  }

  h2.motto {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  h3 {
    font-size: 28px;
    line-height: 1.2;
  }

  h3.description {
    font-size: 30px;
  }

  h3.lede {
    font-size: 36px;
  }

  h4 {
    font-size: 18px;
  }

  p, li {
    font-size: 18px;
  }

  p.description {
    font-size: 20px;
  }

  blockquote.pullquote {
    font-size: 22px;
  }

  ol.beliefs {
    padding-inline-start: none;
  }

}


@media (max-width: 375px) {

  h2.motto {
    font-size: 68px;
  }

}

@media (max-width: 320px) {

  .motto h2 {
    font-size: 60px;
  }

}
