body {
  background-color: #F9F9F9;
  border-left: solid .5rem #D10000;
  font-size: 16px;
  margin: 0;
  padding: 1em 0;
}

.wrapper {
  margin: auto;
  text-align: center;
  padding: 1rem;
}

.introduction {
margin-top: 3.815rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

/* h1 {
  margin-top: 2.5rem;
  padding-top: 0;
  line-height: 3.815rem;
  font-weight: 700;
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
	height: 0;
	text-align: center;
} */

p,li {
  font-family: 'PT Serif', Times, serif;
}

a:link,
a:visited {
  color: #D10000;
  text-decoration: none;
}

a:hover {
  border-bottom: solid 4px #D10000;
}

/********************
Media Queries
********************/

@media (min-width: 320px){
  .wrapper {
    width: 90%;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: none;
    letter-spacing: 0.75px;
    line-height: 2.75rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    line-height: 1rem;
    letter-spacing: 0.75px;
    line-height: 0.8rem;
  }

  h3 {
    margin-top: 5rem;
  }

  /* p {
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    line-height: 1.94rem;
  } */

  .motto {
    /* font-size: 1.953rem;
    line-height: 2.5rem; */
    font-weight: 700;
    font-style: italic;
  }

  ul,
  ol {
    padding-left: 0;
    margin-left: 0;
  }

  ul {
    list-style: none;
  }

  p, li {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.94rem;
    margin: 1.5rem 0;
  }

  footer {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 55%;
    /* text-align: left;
    margin-left: 4.768rem; */
  }

  h1 {
    font-size: 7rem;
    margin-top: 5rem;
    /* text-align: left; */
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  h3 {
    font-size: 2rem;
    margin-top: 7rem;
  }

  .introduction {
    margin-top: 3.815rem;
  }

  p, li {
    font-size: 1.5rem;
    line-height: 2.441rem;
    margin: 2rem 0;
  }


}
