body {
  margin-right: auto;
  margin-left: auto;
  background-color: #FFF;
  font-size: 16px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p,li {
  font-family: 'Vollkorn', Times, serif;
}

a:link,
a:visited {
  color: #000;
  text-decoration: underline;
  /* border-bottom: 1px solid #000; */
}

a:hover {
  color: #777;
}

h1 {
  font-size: 12rem;
  font-weight: 400;
  letter-spacing: -10.4px;
  text-transform: uppercase;
  line-height: 12rem;
  margin-top: 8rem;
  margin-bottom: 0rem;
}

h2 {
  font-weight: 400;
  margin-top: none;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.8px;
}

h3 {
  font-size: .75rem;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  line-height: 1rem;
  letter-spacing: -.9px;
}

li {
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0;
  letter-spacing: -.9px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

footer {
  margin-top: 12rem;
  margin-bottom: 6rem;
}

footer p {
  font-size: 1rem;
  line-height: .5rem;
  letter-spacing: -.53px;
}

.introduction {
  margin-top: 12rem;
  margin-bottom: 0rem;
}

.past-work {
  margin-top: 12em;
  margin-bottom: 0rem;
}

.links {
  margin-top: 12rem;
  margin-bottom: 0rem;
}


/*  Media Queries ------------- */

@media (max-width: 1024px) {

  h1 {
    font-size: 8rem;
    letter-spacing: -6.4px;
    line-height: 6rem;
    margin-top: 8rem;
    margin-bottom: 0rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.6px;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 7rem;
    letter-spacing: -6.4px;
    line-height: 6rem;
    margin-top: 6rem;
    margin-bottom: 0rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.6px;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }

  h3 {
    font-size: .75rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.25rem;
    line-height: .5rem;
    letter-spacing: -.75px;
  }

  li {
    font-size: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0;
    letter-spacing: -.65px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  footer {
    margin-top: 10rem;
    margin-bottom: 6rem;
  }

  footer p {
    font-size: .75rem;
    line-height: .5rem;
    letter-spacing: -.4px;
  }

  .introduction {
    margin-top: 10rem;
    margin-bottom: 0rem;
  }

  .past-work {
    margin-top: 10em;
    margin-bottom: 0rem;
  }

  .links {
    margin-top: 10rem;
    margin-bottom: 0rem;
  }
}



@media (max-width: 480px) {

  h1 {
    font-size: 3.75rem;
    letter-spacing: -3px;
    line-height: 5rem;
    margin-top: 6rem;
    margin-bottom: 0rem;
  }

  h2 {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    letter-spacing: -.45px;
  }

  h3 {
    font-size: .75rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.25rem;
    line-height: .5rem;
    letter-spacing: -.75px;
  }

  li {
    font-size: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0;
    letter-spacing: -.65px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  footer {
    margin-top: 9rem;
    margin-bottom: 5rem;
  }

  footer p {
    font-size: .75rem;
    line-height: .25rem;
    letter-spacing: -.4px;
  }

  .introduction {
    margin-top: 9rem;
    margin-bottom: 0rem;
  }

  .past-work {
    margin-top: 9em;
    margin-bottom: 0rem;
  }

  .links {
    margin-top: 9rem;
    margin-bottom: 0rem;
  }
}
