body {
  background-color: #000;
  max-width: 640px;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
  color: #DEDEDE;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 58px;
  color: #DEA74F;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0;
}

a, li a {
  color: #DEA74F;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  border-bottom: 2px solid;
}

.summary {
  margin-top: 75px;
}

.contact {
  margin-top: 75px;
  font-size: 14px;
  margin-bottom: 50px;
}

.bottom {
  margin-top: 250px;
  font-size: 14px;
  margin-bottom: 50px;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

li {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 2em;
  color: #DDDDDD;
}

li a:hover {
  color: #DEA74F;
}

footer p {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 1.5;
  color: #DDDDDD;
}


/*  Media Queries ------------- */

@media (max-width:480px){

  body {
    padding-top: 25px;
    width: 95%;
  }

  h1 {
    font-size: 68px;
    line-height: 1;
  }

  p {
    font-size: 16px;
  }


}

@media (max-width:768px) {

  body {
    width: 90%;
  }


}
