@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body {
  background-color: #111;
  max-width: 640px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  word-wrap: break-word; /* for long words & urls */
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: #DEDEDE;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 64px;
  color: #DEA74F;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  color: #DEDEDE;
}

a, li a {
  color: #DEA74F;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  border-bottom: 2px solid;
}

.title {
  margin-bottom: 75px;
}

.summary {
  margin-top: 75px;
}

.contact {
  margin-top: 50px;
  font-size: 14px;
  margin-bottom: 50px;
}

.bottom {
  margin-top: 250px;
  font-size: 14px;
  margin-bottom: 50px;
}

ul, li {
  list-style-type: square;
  padding: 0;
}

li {
  font-size: 20px;
  line-height: 2em;
  color: #DEDEDE;
}

li a:hover {
  color: #DEA74F;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  color: #DDDDDD;
  /* margin-bottom: 50px; */
}


/*  Media Queries ------------- */

@media (max-width: 640px){

  body {
    padding: 25px 15px;
    margin: 0;
  }

  h1 {
    font-size: 68px;
    line-height: 1;
  }

  h2 {
    font-size: 36px;
    margin-top: 50px;
  }

  p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
  }

  .summary {
    margin-top: 50px;
  }
}
