@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: #111;
  /* background-image: url("/assets/photos/beanstalk-dark.png"); */
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  color: #DEDEDE;
  word-wrap: break-word; /* for long words & urls */
}

header {
  padding: 40px 40px 40px 40px;
  overflow: hidden;
}

header h1 {
  float: left;
  margin: 0;
  line-height: 0;
}

header h1 a {
  line-height: 0;
  margin: 0;
  padding: 0;
}

header h1 a:hover {
  border-bottom: none;
}

header nav {
  float: right;
  margin: 0;
  padding: 0;
  line-height: 1;
}

header nav a {
  text-decoration: none;
  font-weight: 700;
  margin-left: 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .5px;
  color: #777;
  line-height: 0;
}

header nav a.selected {
  color: #DEDEDE;
}

header nav a:hover {
  color: #DEDEDE;
  border-bottom: none;
}

.summary {
  overflow: hidden;
  padding: 0 40px 0 40px;
  margin: 30px 0 0 0;
}

.summary div {
  float:left;
  width: 50%;
}

h2.motto {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 108px;
  line-height: 1;
  margin-top: 70px;
  margin-bottom: 100px;
  color: #FFFFFF;
}

/* .section_description p {
  font-size: 20px;
} */

h2.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 72px;
  color: #FFFFFF;
  margin: 30px 0 50px;
  text-align: center;
}

.description h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

h3 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1.3;
}

/* h4 {
  font-size: 22px;
} */

a, li a {
  color: #DEA74F;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  border-bottom: 2px solid;
}

li {
  font-size: 20px;
  line-height: 1.4;
  color: #DEDEDE;
}

li a:hover {
  color: #DEA74F;
}

ol.beliefs {
  margin-top: 25px;
  margin-bottom: 25px;
}

.beliefs li {
  margin-top: 40px;
  margin-bottom: 25px;
}

ol {
  font-feature-settings: 'ss01' 1, 'zero' 1;
}

section.content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-bottom: 250px;
}

section.main {
  margin-bottom: 50px;
}

.contact {
  margin-top: 40px;
}

.contact li {
  list-style-type: circle;
  margin-bottom: 15px;
}

.standard li {
  /* list-style-type: circle; */
  margin-bottom: 10px;
}


hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #333;
}

p.footnote {
  font-size: 14px;
  margin-bottom: 50px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  color: #DDDDDD;
  width: 640px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.footnote_number {
  color: #DEA74F;
}

/*  Media Queries ------------- */

@media (min-width: 1600px) {

  body {
    max-width: 1280px;
  }
}


@media (max-width: 1200px) {

  .motto h2 {
    font-size: 80px;
  }
}


@media (max-width: 1023px) {

  .summary div {
    float: none;
    width: 100%;
  }

}


@media (max-width: 640px){

  body {
    width: 90%;
  }

  header {
    padding: 20px 0;
  }

  header h1,
  header nav {
    float: none;
  }

  header nav {
    margin-top: 10px;
  }

  header nav a {
    margin-left: 0;
    font-size: 14px;
    margin-right: 15px;
    color: #777;
  }

  section.summary {
    padding: 0;
    margin-bottom: 100px;
  }

  h2.motto {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  h2.title {
    font-size: 64px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 30px;
  }

  p, li {
    font-size: 18px;
  }

  section.content {
    width: auto;
  }

  ol.beliefs {
    padding-inline-start: none;
  }

}


@media (max-width: 375px) {

  h2.motto {
    font-size: 64px;
  }

  h2.title {
    font-size: 52px;
  }

@media (max-width: 320px) {

  .motto h2 {
    font-size: 60px;
  }

}
