body {
  background-color: #000;
  margin-left: 60px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #DEA74F;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 0;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #cccccc;
}

a, li a {
  color: #DEA74F;
  text-decoration: none;
}

.section_summary {
  margin-top: 60px;
}

.section_contact {
  margin-top: 75px;
  font-size: 14px;
  margin-bottom: 50px;
}

.section_bottom {
  margin-top: 250px;
  font-size: 14px;
  margin-bottom: 50px;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

li {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8em;
  color: #ccc;
}

li a:hover {
  color: #DEA74F;
}

footer p {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 1.5;
  color: #cccccc;
}

h2, h3, p, li {
  width: 600px;
}


/*  Media Queries ------------- */

@media (max-width: 480px) {
  body, h1, p, li, footer, {
    margin-left: 10px;
    width: 95%;
  }

  h1 {
    font-size: 52px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.6em;
  }
}
