body {
  background-color: #1a1a1a;
  margin-left: 170px;
}

h1 {
  font-family: 'Barlow';
  font-size: 150px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b39759;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 a, h1 a:visited {
  color: #b39759;
  text-decoration: none;
}

h2 {
  margin-top: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d6d6d;
}

h2 a {
  color: #ffffff;
  text-decoration: none;
}

h2 a:hover {
  color: #b39759;
}

h3 {
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff3535;
  text-transform: uppercase;
}

.red {
  color: #ff3535;
}

.blue {
  color: #53e9ff;
}

.green {
  color: #83ff98;
}

.yellow {
  color: #fffe3c;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #cccccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li.huge_link {
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

li a, li a:visited {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: #b39759;
}

footer p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  margin: 0;
  color: #cccccc;
}

h2, h3, p, li {
  width: 698px;
}

.page_title {
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 34px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

.big {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 0;
}

.lede_section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section {
  margin-top: 120px;
}

.section_med {
  margin-top: 80px;
}

.section_sm {
  margin-top: 40px;
}

.section_bottom {
  margin-top: 240px;
  margin-bottom: 120px;
}

.section_bottom_nav {
  margin-top: 240px;
  margin-bottom: 80px;
}

.section_bottom_page {
  margin-bottom: 120px;
}

.meta {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #6d6d6d;
  margin-top: -15px;
  padding-top: 0;
  margin-bottom: 40px;
}

.project-link a, .project-link a:visited {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #b39759;
  text-decoration: none;
}

.project-link a:hover {
  text-decoration: underline;
}

.top_header {
  margin-top: 120px;
}

.home_link {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b39759;
}

.nav ul {
  margin-left: 0;
  border-bottom: 1px #ffffff;
}

.nav li {
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.nav li a {
  display: block;
}

.link_active {
  color: #b39759;
}

/*  Media Queries ------------- */

@media (min-width: 2560px) {
  html {
    margin-left: 700px;
    /* margin-right: auto; */
  }
}


/* @media (max-width: 1400px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
} */


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  body, h1, h2, h3, p, li, footer, .subtitle {
    margin-left: 10px;
    width: 95%;
  }

  h1 {
    font-size: 98px;
    line-height: 1;
    margin-top: 80px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 28px;
    margin-top: 10px;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.6;
  }

  .big {
    font-size: 24px;
    line-height: 1.45;
  }

  p {
    font-size: 16px;
    line-height: 1.75;
  }

  li.huge_link {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .section_bottom {
    margin-top: 180px;
    margin-bottom: 40px;
  }

  .top_header {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .home_link {
    font-size: 21px;
  }

  .lede_section {
    margin-top: 60px;
  }

  .page_title {
    font-size: 30px;
  }

  .section_bottom_nav {
    margin-top: 180px;
    margin-bottom: 60px;
  }

  .section_bottom_page {
    margin-bottom: 40px;
  }
}
