header {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

body {
  margin-top: none;
  margin-left: 18rem;
  margin-right: 18rem;
  margin-bottom: 4rem;
  font-family: "ff-zwo-web-pro", 'Roboto', -apple-system, system-ui, 'Helvetica Neue', sans-serif;
  background-color: #FAFAFA;
  color: #242424;
}

.brandmark { 
  height: 64px;
  width: 64px;
}

a.brandmark:hover {
  color: none;
  background: none;
}

p {
  font-size: 20px;
  line-height: 2rem;
}

.date {
  color: #9E9E9E;
}

.essay {
  margin-top: 4rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 6rem;
}

li {
  font-size:  1.2rem;
  line-height: 2rem;
  margin-bottom: .9rem;
}

a, a:visited {
  color: #0000FF;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #FFFFFF;
  background: #0000FF;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

footer {
  margin-top: 8rem;
  color: #9E9E9E;
}

::selection {
  background: #0000FF;
  color: #FFFFFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0000FF;
  color: #FFFFFF; /* Gecko Browsers */
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




/* Small */

@media screen and (min-width: 0px) and (max-width: 767px) {
  html {
    font-size:  87.5%;
  }
  body {
    margin-top: 2rem;
    margin-left:  auto;
    margin-right: auto;
    max-width:    90%;
  }
  .introduction {
    font-size:   1.5rem;
    line-height: 2.3rem;
  }
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 87.5%;
  }
  body {
    margin-left:  auto;
    margin-right: auto;
    max-width: 44rem;
  }
}

/* Large */

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
  body {
    max-width: 70rem;
  }
  .answer {
    max-width: 50rem;
  }
}


