header {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

body {
  margin-top: none;
  margin-right: auto;
  margin-left: auto;
  width: 750px;
  margin-bottom: 4rem;
  font-family: "ff-zwo-web-pro", 'Roboto', -apple-system, system-ui, 'Helvetica Neue', sans-serif;
  background-color: #FAFAFA;
  color: #242424;
}

.brandmark { 
  height: 64px;
  width: 64px;
}

a.brandmark:hover {
  color: none;
  background: none;
}

.date {
  color: #9E9E9E;
  font-size: 16px;
  margin-top: -20px;
}

.essay {
  margin-top: 4rem;
}

.lede-img {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  z-index: 0;
  margin-bottom: 2rem; 
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: none;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

blockquote {
  margin-bottom: 10px;
  border-left: 5px solid #0000ff;
  margin-left: 5px;
  padding-left: 20px;
  color: #6d6d6d;

}

ul {
  padding-left: 20px;
}

li {
  font-size:  1.2rem;
  line-height: 2rem;
  margin-bottom: .9rem;
}

a, a:visited {
  color: #0000FF;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #FFFFFF;
  background: #0000FF;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

sup, sup a, sup a:link, sup a:hover, sup a:active, sup a:visited {
  color: #9E9E9E;
  font-weight: 400;
  font-size: 12px;
}

.footnotes, .footnotes p, .footnotes a, .footnotes li, .footnotes ol, .footnotes ul {
  font-size: 14px;
  line-height: 22px;
}

.footer-hr {
  margin-top: 8rem;
    border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

footer, footer p {
  color: #9E9E9E;
  font-size: 16px;
}

::selection {
  background: #0000FF;
  color: #FFFFFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0000FF;
  color: #FFFFFF; /* Gecko Browsers */
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




/* Small */

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    margin-top: 2rem;
    margin-left:  auto;
    margin-right: auto;
    max-width:  90%;
    font-size: 12px;
  }

  h1 {
    font-size: 32px;
    line-height: 1.2em
  }

  p, blockquote p {
    font-size: 18px;
    line-height: 1.6842105263em;
  }

  blockquote {
    margin-left: none;
    padding-left: none;
  }
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {

  body {
    margin-left:  auto;
    margin-right: auto;
    width: 600px;
  }

    p, blockquote p {
    font-size: 18px;
    line-height: 1.6842105263em;
  }

}

/* Large */

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  body {
    width: 750px;
  }

   p, blockquote p {
    font-size: 21px;
    line-height: 1.65em;
  }
}

/* Extra-Large */

@media screen and (min-width: 1280px) and (max-width: 1399px) {
  html {
    font-size: 100%;
  }
  body {
    width: 750px;
  }

   p, blockquote p {
    font-size: 21px;
    line-height: 1.6842105263em;
  }
}

/* Extra-Large */

@media screen and (min-width: 1400px)  {
  html {
    font-size: 100%;
  }
  body {
    max-width: 800px;
  }

   p, blockquote p {
    font-size: 21px;
    line-height: 1.6842105263em;
  }
}



