body {
  margin-top: 6rem;
  margin-right: 11rem;
  margin-left: 11rem;
  margin-bottom: 6rem;
  font-family: "ff-zwo-web-pro", 'Roboto', -apple-system, system-ui, 'Helvetica Neue', sans-serif;
  background-color: #FAFAFA;
  color: #242424;
}

.brandmark {
  height: 64px;
  width: 64px;
}

.introduction {
  margin-top: 2rem;
  font-size:  2.2rem;
  line-height: 3.2rem;
  margin-bottom: 6rem;
}

.date {
  color: #9E9E9E;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

li {
  font-size:  1.2em;
  line-height: 2rem;
  margin-bottom: .9rem;
}

a, a:visited {
  color: #0000FF;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #FFFFFF;
  background: #0000FF;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


/* Small */

@media screen and (min-width: 0px) and (max-width: 767px) {
  html {
    font-size:  87.5%;
  }
  body {
    margin-top: 8rem;
    margin-left:  auto;
    margin-right: auto;
    max-width:    90%;
  }
  .introduction {
    font-size:   1.5rem;
    line-height: 2.3rem;
  }
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 87.5%;
  }
  body {
    margin-left:  auto;
    margin-right: auto;
    max-width: 44rem;
  }
}

/* Large */

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
  body {
    max-width: 70rem;
  }
  .answer {
    max-width: 50rem;
  }
}


