.body {
	margin-left: 5%;
	margin-right: 5%;
}

a, a:visited {
	color: #000000;
	text-decoration: none;
    border-bottom: 2px solid #E1E1E1;
}

a:hover {
	color: #FF6000;
	border-bottom: 2px solid #FF6000;
}

h1, h1 a, h1 a:visited {
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #FF6000;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none;
}

h1 a:hover {
	border-bottom: none;
}

.header {
	text-align: center;
    top: 1vh;
    position: fixed;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

h2 {
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #000000;
	text-transform: uppercase;: 
}

p {
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #000000;
	text-transform: uppercase;
}

#start {
	margin-top: 300px;
}

.light {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 5rem;
}

li {
	font-family: 'Amiri', Georgia, serif;
	font-size: 40px;
	color: #000000;
	padding-bottom: 15px;
}

::selection {
	background: #000000; /* WebKit/Blink Browsers */
	color: #FF6000;
}

::-moz-selection {
	background: #000000; /* WebKit/Blink Browsers */
	color: #FF6000;
}


@media screen and (max-width: 590px) { 
	h1, h1 a {
	font-size: 40px; 
	width: 300px;
}
	h2, p, li { 
	font-size: 27px; 
}
	#start {
	margin-top: 200px;
}

}

