@import "https://raw.githubusercontent.com/thebadprince/thebadprince.github.io/master/assets/ff-zwo.css";


body {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  margin-bottom: 60px;
  font-family: 'ff-zwo-web-pro', Arial, sans-serif;
  background-image: url("https://jomicubol.com/assets/photos/grey_@2X.png");
  background-color: #FAFAFA;
  color: #242424;
}

.brandmark {
  height: 64px;
  width: 64px;
}

a.brandmark:hover {
  color: none;
  background: none;
}

h1 {
  font-family: "Kanit", "Arial Black", sans-serif;
  font-size: 140px;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 0px;
  width: 75%;
}

.description li {
  font-size: 48px;
  line-height: 1.2em;
  width: 25%;
  float: left;
  margin-top: 40px;
  margin-bottom: 120px;
}

.introduction {
  font-size: 32px;
  line-height: 1.5em;
  margin-bottom: 80px;
  width: 75%;
}

h3 {
  font-family: "Kanit", "Arial Black", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 80px;
}

li {
  font-size:  18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.date, footer {
  color: #9E9E9E;
}

a, a:visited {
  color: #0000FF;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #FFFFFF;
  background: #0000FF;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

::selection {
  background: #0000FF;
  color: #FFFFFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0000FF;
  color: #FFFFFF; /* Gecko Browsers */
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Small */

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    margin-top: 2rem;
    margin-left:  auto;
    margin-right: auto;
    width: 90%;
  }

  .brandmark {
    height: 64px;
    width: 64px;
  }

  h1 {
    font-size: 90px;
    line-height: 1em;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    float: none;
  }

  .description li {
    font-size: 24px;
    width: 100%;
    float: none;
    margin-bottom: 0px;
  }

  .introduction {
    font-size:  18px;
    line-height: 1.55em;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    float: none;
  }

  .links, .writing, .favorites {
  float: none;
  width: 100%;
  }

  h3, li {
    font-size: 16px;
  }
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    margin-left:  auto;
    margin-right: auto;
    max-width: 80%;
  }

  .brandmark {
    height: 64px;
    width: 64px;
}

  h1 {
    font-size: 142px;
    line-height: 1em;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    float: none;
  }

  .description li {
    font-size: 48px;
    margin-bottom: 0px;
    width: 100%;
    float: none;
  }

  .introduction {
    font-size:  28px;
    line-height: 1.5;
    width: 100%;
    float: none;
  }

  .new-strong {
    font-size: 24px;
  }

  h3, li {
    font-size: 19px
  }
}

/* Large */

@media screen and (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}


