
body {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  max-width: 90%;
  margin-bottom: 180px;
  font-family: 'Caudex', "ff-zwo-web-pro", 'Roboto', -apple-system, system-ui, 'Helvetica Neue', sans-serif;
  color: #FFFFFF;
  background: #0000FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0000FF, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0000FF, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(r#0000FF, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0000FF, #000000); /* Standard syntax */
}

.brandmark {
  height: 96px;
  width: 96px;
  display: block;
  margin: 0 auto;
}

a.brandmark:hover {
  color: none;
  background: none;
}

h1 {
  font-size: 172px;
  font-family: 'Kanit', Arial, sans-serif;
  text-align: center;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-size: 58px;
  margin-top: 20px;
  line-height: 1em;
}

.introduction {
  font-size: 46px;
  line-height: 1.4;
  margin-bottom: 120px;
}

.photo {
  display: block;
  width: 80%;
  margin: 100px auto;
  vertical-align: middle;
}

h3 {
  font-size: 22px;
  font-family: 'Kanit', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.introduction h3 {
  margin-bottom: -30px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 120px;
}

li {
  font-size:  28px;
  line-height: 1.5;
  margin-bottom: 21px;
}

.date {
  color: #FFFFFF;
}


a, a:visited {
  color:  #ff0000;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #000000;
  background: #00ff00;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

::selection {
  background: #0000FF;
  color: #FFFFFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0000FF;
  color: #FFFFFF; /* Gecko Browsers */
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




/* Small */

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    margin-top: 2rem;
    margin-left:  auto;
    margin-right: auto;
    width: 90%;
  }

  .brandmark {
  height: 48px;
  width: 48px;
  }

  h1 {
    font-size: 50px;
    line-height: 1em;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-top: 0px;
  }

  .photo {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .introduction {
    font-size:  20px;
    line-height: 1.6;
  }

  .introduction h3 {
    margin-bottom: 0px;
}

  h3, li {
    font-size: 18px;
  }
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin-left:  auto;
    margin-right: auto;
    max-width: 80%;
  }

  h1 {
    font-size: 100px;
    line-height: 1em;
    margin-top: 100px;
    margin-bottom: 20px;
  }

  h2 {  
    font-size: 36px;
    margin-top: 0px;
  }

  .introduction {
    font-size:  28px;
    line-height: 1.5;
  }


  .introduction h3 {
  margin-bottom: 0px;
}

  h3, li {
    font-size: 19px
  }
}

/* Large */

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}