.body {
	margin-left: 5%;
	margin-right: 5%;
}

a, a:visited {
	color: #000000;
	text-decoration: none;
    border-bottom: 2px solid #E1E1E1;
}

a:hover {
	color: #FF6000;
	border-bottom: 2px solid #FF6000;
}

h1, h1 a, h1 a:visited {
	font-family: Heebo-Black;
	font-size: 60px;
	color: #FF6000;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none;
}

h1 a:hover {
	border-bottom: none;
}

.header {
	text-align: center;
    top: 1vh;
    position: fixed;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

h2 {
	font-family: Lora-Bold;
	font-size: 40px;
	color: #000000;
	text-transform: uppercase;: 
}

p {
	font-family: Heebo-Bold;
	font-size: 40px;
	color: #000000;
	text-transform: uppercase;
}

#start {
	margin-top: 300px;
}

.light {
	font-family: Heebo-Light;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 5rem;
}

li {
	font-family: Lora;
	font-size: 40px;
	color: #000000;
	padding-bottom: 15px;
}





@media (max-width: 375px) {

	h1 {
		font-size: 27px;
	}

	p {
		font-size: 27px;
	}
}
