body {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  margin-bottom: 60px;
  font-family: "ff-zwo-web-pro", 'Roboto', -apple-system, system-ui, 'Helvetica Neue', sans-serif;
  background-color: #FAFAFA;
  color: #242424;
}

.brandmark {
  height: 64px;
  width: 64px;
}

a.brandmark:hover {
  color: none;
  background: none;
}

h1 {
  font-size: 172px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}

.introduction {
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 100px;
}

h3 {
  font-size: 22px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 6rem;
}

li {
  font-size:  22px;
  line-height: 1.5;
  margin-bottom: 21px;
}

.date {
  color: #9E9E9E;
}


a, a:visited {
  color: #0000FF;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #FFFFFF;
  background: #0000FF;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

::selection {
  background: #0000FF;
  color: #FFFFFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0000FF;
  color: #FFFFFF; /* Gecko Browsers */
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




/* Small */

@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    margin-top: 2rem;
    margin-left:  auto;
    margin-right: auto;
    width: 90%;
  }

  .brandmark {
  height: 48px;
  width: 48px;
  }

  h1 {
    font-size: 91px;
    margin-bottom: 40px;
  }

  .introduction {
    font-size:  18px;
    line-height: 1.5;
  }

  h3, li {
    font-size: 18px;
  }
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin-left:  auto;
    margin-right: auto;
    max-width: 80%;
  }

  h1 {
    font-size: 142px;
  }

  .introduction {
    font-size:  28px;
    line-height: 1.5;
  }

  h3, li {
    font-size: 19px
  }
}

/* Large */

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}


