body {
  background-color: #000000;
}

.body {
	margin-left: 10%;
	margin-right: 10%;
}

a, a:visited {
  color: #ff6000;
	text-decoration: none;

}

a:hover {
	color: #FF6000;
  border-bottom: solid 8px #ffffff;
    transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -webkit-font-smoothing: antialiased;
}

h1, h1 a, h1 a:visited {
	font-family:  'Heebo', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 150px;
	color: #FF6000;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none;
  text-decoration: none;
}

h1 a:hover {
	border-bottom: none;
}

h2 {
	font-family: 'Overpass', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 38px;
	color: #ffffff;
	text-transform: uppercase;: 
}

p {
	font-family: 'Overpass', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 38px;
  line-height: 57px;
	color: #ffffff;
	text-transform: uppercase;
}

#start {
	margin-top: 100px;
}

.light {
  font-family: 'Overpass', Helvetica, sans-serif;
  font-weight: 200;
}

.serif {
  font-family: 'Caudex', Georgia, serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  text-transform: none;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 5rem;
}

li {
	font-family: 'Caudex', Georgia, serif;
	font-size: 40px;
	color: #ffffff;
	padding-bottom: 25px;
}

/* Text Selection */

::selection {
	background: #ff6000; /* WebKit/Blink Browsers */
	color: #ffffff;
}

::-moz-selection {
	background: #ff6000; /* WebKit/Blink Browsers */
	color: #ffffff;
}


/* Animation */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

/* Media Query */

@media screen and (max-width: 590px) { 
	
.body {
  margin-left: 5%;
  margin-right: 5%;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

  h1, h1 a {
	font-size: 50px; 
  margin-top: 100px;
}

	h2, p { 
	font-size: 26px;
  line-height: 41px;
}

  li { 
  font-size: 26px;
  line-height: 41px;
}

	#start {
	margin-top: 80px;
}

  .serif {
    font-size: 30px;
    line-height: 42px;
}
}

