/* 

Hand-Crafted CSS by Jomi Cubol

Focus: Readability and Speed.

*/

body {
	font-family: "fira-sans", Avenir Next,Verdana, sans-serif;
	color: #222;
  font-weight: 400;
  background-color: #FFF3E0;
	}

a:link, a:visited, a:active {
  text-decoration: none;
  font-family: "fira-sans", Avenir Next, Verdana, sans-serif;
  font-weight: 500;
  color: #003c7a;
  line-height: 1.6em;
  margin-top: -4px;
}

a:hover {
  color: #ff6000;
}

strong {
  font-weight: 500;
}

section#summary {
	position: relative;
  margin: 100px auto;
  width: 800px;
}

.wrap {
  -webkit-animation: woop 100s infinite;
  -moz-animation: woop 100s infinite;
  -ms-animation: woop 100s infinite;
  -o-animation: woop 100s infinite;
  animation: woop 100s infinite;
}

@-webkit-keyframes woop {
  0%    {   background-color: #FFB74D; } /* Orange*/
  25%   {   background-color: #FFEB3B; } /* Yellow */
  50%   {   background-color: #84FFFF; } /* Aqua */
  75%   {   background-color: #FFEB3B; } /* Yellow */
  100%  {   background-color: #FFB74D; } /* Orange */
} 

.group {
	margin: 3.5em 0em;
} 

h1 {
  font-size: 2em;
  text-transform: uppercase;
	letter-spacing: 5px;
	color: #ff6000;
}

#logo {
  width: 100px; 
  display: block;
  margin: 2em auto;
}


#description {
  font-size: 2.4em;
  font-weight: 400;
  font-family: "adelle", 'Palatino', 'Palatino Linotype', serif;
  line-height: 1.5em;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
  font-family: "fira-sans", Avenir Next, Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 20px;
	color: #000;
}

p, ul {
	list-style-type: none;
	font-size: 1.35em;
	font-weight: 400;
	line-height: 1.6em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
	margin-left: 0;
	padding: 0;
}

ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.35em;
}

ol li, ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.collaborators {
  font-size: .9em;
  font-family: "adelle", 'Palatino', 'Palatino Linotype', serif;
  color: #555;
}

.image {
  padding: 10px 10px;
  width: 700px;
  display: block;
  margin: 0 auto;
}

.box {
  border: 1px solid #333;
  padding: 1px 10px;
}

.postscript {
  margin-top: 60px;
  margin-bottom: 100px;
}

footer, footer ul {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 0;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

footer p, footer li , footer a:link {
  margin-right: 15px;
  margin-left: 0;
  padding-left: 0;
  font-weight: 300;
  font-family: "fira-sans", Avenir Next, Verdana, sans-serif;
  display: inline;
  box-shadow: none;
}

hr {
  border-top: 1px solid #111;
  border-bottom: none;
}


/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}


/* Media Query */
@media (max-width: 799px) {

  section#summary {
  position: relative;
  margin: 40px auto;
  width: 90%;
  }

  #logo {
    margin-top: 50px;
  }

	h1 {
		font-size: 1.3em;
	}

  #description {
    font-size: 2.1em;
  }

	h2 {
		width: 100%;
		font-size: 1em;
    letter-spacing: 3px;
	}

	p, ul {
		font-size: 1.2em;
		width: 100%;
	}

  .image {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px 0;
    margin: 0;
    position: center;
  }

  .old-app {  
      display: inline;
      position: relative;
  }

  .old-apploi {
    max-width: 200px;
    height: auto;
  }

  footer {
    margin-top: 40px;
  }
  footer li {
    display: block;
    font-size: 1em;
    margin: 5px 0 20px 0;
  }
}

/* Text Selection */

::selection {
  background: #ffb500;
  color: #000;
}
::-moz-selection {
  background: #fff; 
}



/* Animation */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


