/* 

Hand-Crafted CSS by Jomi Cubol

Focus: Readability and Speed.

*/

body {
	font-family: "fira-sans", Avenir Next,Verdana, sans-serif;
	color: #333;
  font-weight: 400;
	}

a, a:visited, a:active {
  text-decoration: none;
  font-family: "fira-sans", Avenir Next, Verdana, sans-serif;
  font-weight: 700;
  color: #001f3f;
  line-height: 1.5em;
  margin-top: -4px;
}

a:hover {
  color: #ff6000;
}

section#summary {
	position: relative;
  margin: 100px auto;
  width: 700px;
}

.group {
	margin: 5em 0em;
} 

h1 {
  font-size: 2em;
  text-transform: uppercase;
	letter-spacing: 5px;
	color: #ff6000;
}

#description {
  font-size: 2.2em;
  font-weight: 400;
  font-family: "adelle", 'Palatino', 'Palatino Linotype', serif;
  line-height: 1.4em;
}

h2 {
	font-size: 1.2em;
	font-weight: 400;
  font-family: "fira-sans", Avenir Next, Verdana, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 20px;
	color: #009fff;
}

p, ul {
	list-style-type: none;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.6em;
	margin-left: 0;
	padding: 0;
}

.work-title {
  font-family: "adelle", 'Palatino', 'Palatino Linotype', serif;
  font-weight: 400;
  color: #000;
}

.collaborators {
  font-size: .6em;
  font-family: "adelle", 'Palatino', 'Palatino Linotype', serif;
  padding: 5px;
  border: 1px solid #ff6000;
  vertical-align: middle;
  margin-top: 20px;
}

.image {
  padding: 10px 10px;
  width: 700px;
  display: block;
  margin: 0 auto;
}


ul li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.postscript {
  margin-top: 60px;
  margin-bottom: 100px;
}

.footer-section {
  background-color: #000;
}

footer {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

footer p, footer li , footer a{
  margin-right: 15px;
  font-size: .8em;
  font-weight: 300;
  font-family: "fira-sans", Avenir Next, Verdana, sans-serif;
  display: inline;
}



/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}



/* Media Query */
@media (max-width: 799px) {

  section#summary {
  position: absolute;
  margin: 10px 10px;
  }

  #logo {
    margin-top: 50px;
  }

	h1 {
		font-size: 1.3em;
	}

  #description {
    font-size: 2.1em;
  }

	h2 {
		width: 100%;
		font-size: 1em;
    letter-spacing: 3px;
	}

	p, ul {
		font-size: 1.25em;
		width: 100%;
	}

  img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  footer {
    margin-top: 40px;
  }
  footer li {
    display: block;
    font-size: 1em;
    margin: 5px 0 20px 0;
  }
}

/* Text Selection */

::selection {
  background: #ffb500;
  color: #000;
}
::-moz-selection {
  background: #fff; 
}

/* Animation */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


