/* 

Hand-Crafted CSS by Jomi Cubol

Focus: Readability and Speed. Overall page size: 11.2 KBs 

*/

body {
	font-family: 'Avenir Next', Verdana, sans-serif;
	color: #191919;
	}

a {
	text-decoration: none;
	color: inherit;
}

a:active {
	transition: color .3s;
	color: #eb5900;
}

section#summary {
	position: absolute;
	top: 5%;
	left: 5%;
	margin-right: 20px;
	margin-bottom: 80px;
}

h1 {
	font-size: 2.3em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ff6000;
}

h2 {
	font-size: 2.9em;
	font-weight: 500;
	font-family: 'Palatino', 'Palatino Linotype', serif;
	width: 650px;
	line-height: 1.4em;

}

h3 {
	font-size: 1.4em;
	font-weight: 400;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 20px;
	color: #009fff;
}

h6 {
	font-weight: 600;
	text-transform: uppercase;
}

p, ul {
	list-style-type: none;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.6em;
	margin-left: 0;
	width: 630px;
	padding: 0;
}

ul li {
	margin-top: 18px;
	margin-bottom: 18px;
}
ul li a {
	font-weight: 700;
}

ul a {
	color: #3D3D3D;
}

ul a:hover {
	color: #ff6000;
	transition: color .3s;
}

footer {
	margin-top: 50px;
	font-size: .8em;
}


/* Media Query */
@media (max-width: 799px) {

	h1 {
		font-size: 2em;
	}

	h2 {
		width: 100%;
		font-size: 2em;
	}

	h3 {
		font-size: 1.2em;
	}

	p, ul {
		font-size: 1.2em;
		width: 100%;
	}
}

/* Text Selection */

::selection {
  background: #ffa000;
}
::-moz-selection {
  background: #fff; 
}



