/* 

Hand-Crafted CSS by Jomi Cubol

Focus: Readability and Speed. Overall page size: 11.2 KBs 

*/

body {
	font-family: 'Avenir Next', Verdana, sans-serif;
	color: #191919;
	}

a {
	text-decoration: none;
	color: inherit;
}

a:active {
	transition: color .3s;
	color: #eb5900;
}

section#summary {
	position: absolute;
	top: 5%;
	left: 5%;
	margin-right: 20px;
	margin-bottom: 80px;
}

.group {
	margin-bottom: 5em;
} 

h1 {
	font-size: 2.3em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ff6000;
}

h2 {
	font-size: 2.9em;
	font-weight: 500;
	font-family: 'Palatino', 'Palatino Linotype', serif;
	width: 640px;
	line-height: 1.4em;
}

h3 {
	font-size: 1.4em;
	font-weight: 400;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 20px;
	color: #009fff;
}

h6 {
	font-weight: 600;
	text-transform: uppercase;
}

p, ul {
	list-style-type: none;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.6em;
	margin-left: 0;
	width: 600px;
	padding: 0;
}

ul li {
	margin-top: 20px;
	margin-bottom: 20px;
}
ul li a {
	font-weight: 700;
}

ul a {
	color: #404040;
}

ul a:hover {
	color: #ff6000;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}



footer {
	margin-top: 50px;
	margin-bottom: 0;
	font-size: .8em;
}


/* Media Query */
@media (max-width: 799px) {

	h1 {
		font-size: 2em;
	}

	h2 {
		width: 100%;
		font-size: 2.3em;
	}

	h3 {
		font-size: 1.2em;
	}

	p, ul {
		font-size: 1.2em;
		width: 100%;
	}
}

/* Text Selection */

::selection {
  background: #ffb500;
  color: #000;
}
::-moz-selection {
  background: #fff; 
}

/* Animation */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


