

body {
	font-family: 'Avenir Next', Verdana, sans-serif;
	color: #191919;
	}

a {
	text-decoration: none;
	color: inherit;
}

a:active {
	transition: color .3s;
	color: #eb5900;
}

section#summary {
	position: absolute;
	top: 5%;
	left: 5%;
	margin-right: 20px;
	margin-bottom: 80px;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	color: #ff6000;
}

h2 {
	font-size: 1.7em;
	font-weight: 500;
}

h3 {
	font-size: 1.4em;
	font-weight: 400;
	font-size: 1em;
	text-transform: uppercase;
}


p, ul {
	list-style-type: none;
	padding-left: 30px;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.6em
}

ul li {
	margin: 15px 0;
}

ul li a {
	font-weight: 700;
}

ul a:hover {
	color: #ff6000;
	transition: color .3s;
}


