body {
	font-family: 'Karla', Verdana, sans-serif;
	}

a {
	text-decoration: none;
	color: inherit;
}

section#summary {
	position: absolute;
	top: 5%;
	left: 5%;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	color: #ff6000;

}

h2 {
	font-size: 1.7em;
	font-weight: 700;
}

h3 {
	font-size: 1.4em;
	font-weight: 700;
}


ul {
	list-style-type: none;
	padding-left: 30px;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 1.7em
}

ul a:hover {
	color: #ff6000;
	font-weight: 700;
}
